{% extends "base.html" %}
{% load static %}

{% block title %}Login - Hotel Pacific Reef{% endblock %}

{% block content %}
<div class="login-container d-flex align-items-center justify-content-center">
    <!-- Overlay azul -->
    <div class="overlay"></div>

    <div class="card login-card shadow-lg">
        <div class="card-body p-5">
            <h3 class="text-center mb-4 fw-bold" style="color: var(--azul-pacifico);">Iniciar Sesión</h3>
        <form method="post">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="email" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="email" name="email"
                      value="{{ email|default:'' }}" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>

            <button type="submit" class="btn btn-custom w-100">Ingresar</button>
        </form>


            <p class="text-center mt-3 text-footer">
                ¿No tienes cuenta?
                <a href="{% url 'register' %}" class="register-link">Regístrate aquí</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
